@import "src/styles.scss";

.icon-bar a {
  display: block;
  text-align: center;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: $primary;
}

@media screen and (min-width: 1024px) {
  .socials {
    width: 45px;
  }

  .icon-bar {
    display: flex;
    flex-flow: column;
    position: fixed;
    top: 50%;
    right: 2%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

@media screen and (max-width: 1024px) {
  .socials {
    width: 30px;
    padding: 10px 5px 0 0;
  }

  .icon-bar {
    display: flex;
    flex-flow: row;
    position: sticky;
    bottom: 0;
    justify-content: space-evenly;
    background-color: $card-background-dark;
    z-index: 99;
  }
}
