<mat-sidenav-container id="sidenav-container" autosize>
  <mat-sidenav
    id="sidenav"
    #sidenav>
    <mat-list id="menus">
      <mat-list-item *ngFor="let route of routeLinks">
        <a class="menu-items" [style.cursor]="'pointer'" (click)="scrollTo(route.id)">
          <span class="menu-text" *ngIf="sidenav.opened">{{ route.name }}</span>
        </a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <main [id]="'top'">
      <header class="header" (SideNavEmitter)="sidenav.toggle()"></header>
      <home></home>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
