<section class="history-container" [id]="'resume'">
  <div class="history-content">
    <span class="history-title">
      Where I've worked
    </span>
    <mat-accordion class="history-accordion" multi>
      <mat-expansion-panel style="text-align: left;" [expanded]="step === 0" (opened)="setStep(0)" #first>
        <mat-expansion-panel-header>
          <mat-panel-title>
            General Motors
          </mat-panel-title>
          <mat-panel-description *ngIf="!isMobile && first._getExpandedState() !== 'expanded'">
            Lead Software Engineer
          </mat-panel-description>
          <span *ngIf="!isMobile">{{countYears('2021-05-24', null)}}</span>
          <img src="https://upload.wikimedia.org/wikipedia/commons/archive/b/b0/20210324062519%21General_Motors_%282021%29.svg" class="company-icon" alt="General Motors logo">
        </mat-expansion-panel-header>
        <div class="multi-job-title-header">
          <span *ngIf="isMobile || first._getExpandedState() === 'expanded'" style="font-weight: 500;">Lead Software Engineer</span> <span *ngIf="isMobile || first._getExpandedState() === 'expanded'" style="margin-left: 2rem; font-weight: 500;">{{countYears('2023-05-24', null)}}<br><br></span>
        </div>
        <span>
          • Promoted in just two years, and assigned as co-Application Owner of the Global Profile Management Service that manages 42 million customer profiles worldwide.<br><br>
          • Designed a Kafka to Pulsar messaging adapter which enabled consumption of message events allowing partners using Pulsar to consume new messages without re-architecture.<br><br>
          • Supervised a group of DevOps engineers to build new CI/DI in Azure Pipelines to facilitate new service releases and deployments.<br><br>
          • Handling of CCPA and GDPR data privacy compliance, as well as incident/ticket management (being on-call) to satisfy all service level agreements, allowing our services to maintain full compliance stars.<br><br>
          • Supervising a scrum team of seven engineers developing an Angular web application with Spring backend that makes live configuration changes to a critical Global Profile Management Service platform.<br><br>
        </span>
        <mat-divider></mat-divider><br><br>
        <div class="multi-job-title-header">
          <span style="font-weight: 500;">Software Engineer</span> <span style="margin-left: 2rem; font-weight: 500;">{{countYears('2021-05-24', '2023-05-24')}}<br><br></span>
        </div>
        <span>
          • Transformed Spring REST controller for critical backend service, leveraging factory design patterns to facilitate multi-region support and achieving flexible data mapping capabilities resulting in enhanced regional scalability.<br><br>
          • Refactored Java data models to improve code reuse and readability by utilizing polymorphism and Lombok, which eliminated duplicate and boilerplate code by 40%.<br><br>
          • Contributed to a new utility using Spring to migrate customer data from legacy platforms to the new Global Profiles Management Service platform. Successfully migrated 300,000 customer profiles.<br><br>
          • Developed an automated utility to generate localized JSON files from business generated excel documents containing localized copy for supported regions, eliminating repetitive manual labor for the project by 15%.<br><br>
          • Built an ecommerce cart and filtering component for a parts and accessories web application utilizing Angular Typescript, resulting in an enhanced user shopping experience.<br><br>
        </span>
      </mat-expansion-panel>
      <mat-expansion-panel style="text-align: left;" [expanded]="step === 1" (opened)="setStep(1)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Geek Squad
          </mat-panel-title>
          <mat-panel-description *ngIf="!isMobile">
            Advanced Repair Agent
          </mat-panel-description>
          <span *ngIf="!isMobile">{{countYears('2015-07-01', '2021-05-24')}}</span>
          <img src="https://upload.wikimedia.org/wikipedia/en/5/54/Geek_Squad_logo_%28new%29.svg" class="company-icon" alt="Geek Squad logo">
        </mat-expansion-panel-header>
        <div class="multi-job-title-header">
          <span *ngIf="isMobile" style="font-weight: 500;">Advanced Repair Agent</span> <span *ngIf="isMobile" style="margin-left: 2rem; font-weight: 500">{{countYears('2015-07-01', '2021-05-24')}}<br><br></span>
        </div>
        <span>
          • Improved repair turn around time from 72 hours to 24 hours on average (66% improvement) for all types of in-store repairs.<br><br>
          • Packaged advanced repair service, expert advice, and technical products to achieve complete solutions for customers.<br><br>
          • Troubleshooting advanced technical issues down to the kernel level.<br><br>
          • Provided mentorship and training to tier one front desk agents.
        </span>
      </mat-expansion-panel>
      <mat-expansion-panel style="text-align: left;" [expanded]="step === 2" (opened)="setStep(2)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Estrella Mountain Community College
          </mat-panel-title>
          <mat-panel-description *ngIf="!isMobile">
            Computer Science Tutor
          </mat-panel-description>
          <span *ngIf="!isMobile">{{countYears('2017-08-01', '2017-12-19')}}</span>
          <img src="https://img.new.livestream.com/accounts/0000000000cb6b04/9f62250a-b3ee-4300-bfde-6634c754f60e.jpg" class="company-icon" alt="Estrella Mountain Community College logo">
        </mat-expansion-panel-header>
        <div class="multi-job-title-header">
          <span *ngIf="isMobile" style="font-weight: 500;">Computer Science Tutor</span> <span *ngIf="isMobile" style="margin-left: 2rem; font-weight: 500;">{{countYears('2017-08-01', '2017-12-19')}}<br><br></span>
        </div>
        <span>
          • Provided mentorship to underclassmen students, and provided tutoring for various Computer Science classes offered at the college.<br><br>
          • Performed maintenance on computer lab equipment as required to facilitate student usage throughout the day.<br><br>
          • Completed small projects throughout the semester as assigned by the department chair.
        </span>
      </mat-expansion-panel>
    </mat-accordion>
    <span class="history-title-two">
      Education
    </span>
    <mat-card class="education-card">
      <mat-card-header class="education-header">
        <div>Arizona State University</div>
      </mat-card-header>
      <mat-card-content class="education-text">
        <div>Bachelor of Science, Computer Science</div>
        <div>Graduated 2021</div>
      </mat-card-content>
    </mat-card>
    <mat-card class="education-card">
      <mat-card-header class="education-header">
        <div>Estrella Mountain Community College</div>
      </mat-card-header>
      <mat-card-content class="education-text">
        <div>Associate of Science, Computer Science</div>
        <div>Graduated 2018</div>
      </mat-card-content>
    </mat-card>
    <button class="resume-button" mat-raised-button color="primary" (click)="downloadResume()">Download Resume</button>
  </div>
</section>
