/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Pacifico&display=swap');

$primary-text-light: #E8E6E3DD;
$primary: #521d76;
$background-dark: #1B1D1EFF;
$card-background-dark: #343434;
$charcoal: #28282BFF;
$white: #eeeeee;
$black: #000000;

html, body {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Castoro', serif;

  .p {
    font-family: 'Castoro', serif;
  }

  .span {
    font-family: 'Pacifico', cursive;
  }

  .mat-toolbar{
    font-family: 'Castoro', serif;
  }
}

.mat-mdc-card-subtitle~.mat-mdc-card-title, .mat-mdc-card-title~.mat-mdc-card-subtitle,
.mat-mdc-card-header .mat-mdc-card-header-text .mat-mdc-card-title, .mat-mdc-card-header
.mat-mdc-card-header-text .mat-mdc-card-subtitle, .mat-mdc-card-title-group .mat-mdc-card-title,
.mat-mdc-card-title-group .mat-mdc-card-subtitle {
  font-family: 'Castoro', serif;
}

.mat-drawer {
  background-color: $white;
}

.mat-icon {
  color: $black;
}

.mat-divider {
  width: 100%;
  border-top-color: $primary-text-light;
}

.mat-drawer-container {
  background-color: $background-dark;
  color: $primary-text-light;
}

.mat-mdc-card {
  box-shadow: $card-background-dark 0 2px 1px -1px, $card-background-dark 0px 1px 1px 0px, $card-background-dark 0px 1px 3px 0px;
  --mdc-elevated-card-container-color: #343434;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  flex-grow: 2;
}

.mat-expansion-panel-header {
  min-height: 48px;
  max-height: 100px;
}
